{% extends 'userlayout.html' %}
{% load static %}

{% block title %}الشروط و الأحكام {% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('../../../static/images/curved-images/curved14.jpg'); background-position-y: 50%;">
            <span class="mask opacity-6"></span>
        </div>

    </div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 col-xl-10">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-10 d-flex align-items-center">
                                <h6 class="mb-0">عن الشركة</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <hr class="horizontal gray-light my-4">
                        <ul class="list-group">
                            <li class="list-group-item border-0 text-black-50 ps-0 pt-0 text-sm"><strong
                                    class="text-dark">الشروط و الأحكام:</strong>
                              نؤكد بموجب هذا أن الأشخاص المذكورين أدناه مخولون حسب الأصول للتصرف نيابة عن شركتنا Global Swarm Index Corporation (GSIC) ، بما في ذلك الإجراءات التالية:
1) تقديم واستلام أي معلومات ووثائق تتعلق بأي حق أو التزام لنا وفقًا لأي اتفاقية موقعة مع B2Broker ؛
2) لإدارة حسابنا (حساباتنا) ، بما في ذلك المعاملات دون موافقة إضافية من جانبنا ؛
3) المشاركة في عملية التفاوض.
                                </li>

                                <li class="list-group-item border-0 text-black-50 ps-0 pt-0 text-sm"><strong
                                    class="text-dark">بالإضافة إلى ما سبق ذكره</strong>
                                 نؤكد أنه من مسؤوليتنا الخاصة إبلاغ B2Broker بأي تغييرات في صلاحيات الممثلين المعتمدين ، وتقع على عاتقنا وحدنا مسؤولية تزويد B2Broker في الوقت المناسب بوثائق التفويض أو المستندات ذات الصلة التي تؤكد إلغاءها.
</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}