      <footer class="footer pt-3  " style="background-position: center;background-image: url('../static/images/curved-images/curved14.jpg'); background-size: cover">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-white text-sm text-white text-lg-start">
                ©
                CUE Group
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-white" target="_blank">عن الشركة</a>
                </li>
                <li class="nav-item">
                  <a href="https://creative-tim.com/blog" class="nav-link text-white" target="_blank">حساب أفراد</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-white" target="_blank">الشروط و الأحكام</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
